// 1. Import the initial variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";

// 2. Set your own initial variables
$red: #ef415d;
$darkgrey: #3f3e3f;
$yellow: #FFDC66;
$blue: #26A2BB;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;
$primary-invert: #FFF;
$link: $primary;
$text: $darkgrey;

$text-primary: #333333;
$text-secondary: #777777;

// 6. Import the rest of Bulma
@import "../../../node_modules/bulma/bulma";