.Dashboard {
  width: 100vw;
  min-height: 100vh;
  background-color: #eee;
  position: relative;

  .app-content {
    height: 100%;
    @media only screen and (min-width: 900px) {
      margin-left: 260px;
    }
    padding: 15px 40px;
  }

  .qr-button {
    background-color: $blue;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: block;
    img {
      margin-left: 12px;
      margin-top: 12px;
      height: 16px;
      width: 16px;
      background-color: transparent;
    }
  }
}

.Dashboard--open {
  .app-content {
    // margin-left: 260px;

  }
}
