.List {
  &__Header {
    display: flex;
    // margin-bottom: 20px;

    &__Search {
      flex: 1;
      display: flex;
      align-items: center;
      input {
        width: 25%;
        min-width: 200px;
        font-size: 15px;
        padding: 10px 15px;
        border: 0;
        border-radius: 3px;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);
      }
    }
    &__Button {
      background-color: $blue;
      color: #fff;
      border: 0;
      border-radius: 3px;
      font-size: 15px;
      padding: 10px 15px;
      cursor: pointer;
      opacity: 0.9;

      &:hover {
        opacity: 1;
      }
    }
    &__Add {
    }
  }
  &__Content {
  }
}

.list-title {
  margin-top: 30px;
  font-size: 13px;
  color: #fff;
  background-color: $red;
  padding: 5px 10px;
  border-radius: 3px;
  display: inline-block;
}

.ListItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background: #fff;
  border-radius: $radius;
  font-size: 18px;
  margin-top: 15px;
  color: $text-primary;
  border-radius: 3px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);

  &__Title {
    flex: 1;
  }
  &__Actions {
    a {
      font-size: 16px;
      opacity: 0.9;

      &:hover {
        color: $blue;
        opacity: 1;
      }
    }
  }
}