$spinkit-spinner-color: $primary;

@import '../../../node_modules/spinkit/scss/spinners/4-wandering-cubes';
.LoaderWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#FFF, 0.9);
    z-index: 99;
}
.Loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}