.MessageCard {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);
  margin-top: 30px;

  .header {
    padding: 10px 10px;
    border-bottom: 1px solid #f2f2f2;

    .card-title {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      color: #999999;
    }

    .title {
      font-size: 20px;
      color: $text-primary;
      margin-top: 3px;
    }
  }

  .message {
    background-color: #ffffff;
    padding: 10px;
    font-size: 15px;
    color: $text-primary;
    margin: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}