.Navbar {
  position: relative;
  background: $darkgrey;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (min-width: 900px) {
    display: none;
  }
  &__Toggle {
    line-height: 0;
  }
  &__Logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0;
    img {
      width: 30px;
    }
  }
  &__Title {
    color: #fff;
    font-size: 1.2rem;
  }
}

.Dashboard--open {
  .Navbar {
    margin-left: 260px;
    @media only screen and (min-width: 900px) {
      margin-left: 0;
    }
    &__Logo {
      opacity: 0;
    }
  }
}
