.QuestionCard {
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);
  margin-top: 30px;

  .header {
    padding: 10px 10px;

    .card-title {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      color: #999999;
    }

    .title {
      font-size: 20px;
      color: $text-primary;
      margin-top: 3px;
    }
  }

  .info {
    background-color: $blue;
    padding: 9px 10px 10px 10px;
    display: flex;
    font-size: 13px;

    .info-section {
      flex: 1;

      // img {
      //   height: 12px;
      //   width: 12px;
      //   background-color: #ffffff;
      //   vertical-align: middle;
      // }

      a, span {
        vertical-align: middle;
        margin-left: 10px;
        color: #ffffff;
      }
    }
  }

  .message {
    background-color: #ffffff;
    padding: 10px;
    font-size: 15px;
    color: $text-primary;
    margin: 0;
  }

  .isComing {
    display: block;
    border: 0;
    width: 100%;
    padding: 12px 0;
    background-color: $red;
    color: #ffffff;
    font-size: 14px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    opacity: 0.9;
    text-transform: uppercase;

    &.cancel {
      background-color: #f2f2f2;
      color: #777777;
    }

    &:hover {
      opacity: 1;
    }
  }
}