.Sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: $darkgrey;
  transform: translateX(-100%);
  z-index: 99;
  @media only screen and (min-width: 900px) {
    transform: translateX(0);
  }

  .logo-container {
    padding: 20px 10px;
    margin: 0 15px;
    border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: 0.1);

    .logo {
      height: 30px;
      resize: both;
      // background-color: $red;
      vertical-align: middle;
      border: 0;
      opacity: 0;
      @media only screen and (min-width: 900px) {
        opacity: 1;
      }
    }

    .title {
      font-size: 20px;
      vertical-align: middle;
      color: #FFFFFF;
      font-weight: 300px;
      margin-left: 15px;
    }
  }

  .page-links {
    margin: 20px 15px;

    li {
      
      a, button {
        background-color: transparent;
        border: 0;
        display: block;
        padding: 13px 18px 13px 5px;
        color: #FFFFFF;
        margin-top: 15px;
        border-radius: 3px;
        font-size: 15px;
        cursor: pointer;
        width: 100%;
        text-align: left;

        &:hover {
          background-color: rgba($color: #000000, $alpha: 0.07)
        }

        &.active {
          background-color: $blue;
          box-shadow: 0 12px 20px -10px rgba(0,188,212,.28), 0 4px 20px 0 rgba(0,0,0,.12), 0 7px 8px -5px rgba(0,188,212,.2);
        }

        // img, span {
        //   height: 20px;
        //   width: 20px;
        //   vertical-align: middle;
        // }

        .image {
          height: 15px;
          width: 15px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 14px;
        }

        span {
          vertical-align: middle;
          margin-left: 15px;

          
        }
      }
    }
  }
}

.Dashboard--open {
  .Sidebar {
    transform: translateX(0);
    @media only screen and (min-width: 900px) {
    }
    .logo-container .logo {
      opacity: 1;
    }
  }
}