.Survey {
  background-color: $red;
  border-radius: 3px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);
  margin-top: 30px;
  padding: 10px;

  .card-title {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    color: rgba($color: #FFFFFF, $alpha: 0.8);
  }

  .survey-content {
    color: #FFFFFF;

    .text {
      font-size: 16px;
      display: inline-block;
    }

    .options {
      margin-top: 5px;
      text-align: right;

      button {
        border: 0;
        background-color: rgba($color: #000000, $alpha: 0.2);
        border-radius: 50px;
        color: #FFFFFF;
        padding: 5px 12px;
        font-size: 16px;
        margin-left: 5px;
        cursor: pointer;

        &:hover {
          background: #FFFFFF;
          color: $red;
        }
      }
    }
  }
}