.UserList {
}

.UserItem {
  padding: 10px 15px;
  background: #fff;
  border-radius: $radius;
  font-size: 18px;
  margin-top: 15px;
  color: $text-primary;
  border-radius: 3px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);
  &__Title {
    font-size: 18px;
    margin: 0 0 .5rem;
  }
  &__Status__Left {
    font-size: 13px;
  }
  &__Status__Right a {
    font-size: 15px;
  }
  &__Status {
    display: flex;
    justify-content: space-between;
    &__Left {
      color: #fff;
      border-radius: $radius;
      padding: .2rem .5rem;
      &--pending {
        background-color: $info;
      }
      &--accepted {
        background-color: $success;
      }
      &--rejected {
        background-color: $danger;
      }
    }
    &__Right {
      color: $grey;
    }
  }
}
