@import "./modules/bulma";
@import "./modules/loader";
@import "./modules/datepicker";
@import "./modules/dashboard";
@import "./modules/sidebar";
@import "./modules/question-card";
@import "./modules/survey";
@import "./modules/message";
@import "./modules/navbar";
@import "./modules/list";
@import "./modules/manage";
@import "./modules/qr-scanner";
@import "./modules/qr-code";
@import "./modules/user-list";

@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

// body, html {
//   overflow: hidden;
// }

* {
  transition: all 0.2s;
  outline: 0;
}

.container {
  width: 100%;
  max-width: 1200px;

  &.small {
    max-width: 800px;
  }

  &.x-small {
    max-width: 600px;
  }
}

h1 {
  font-size: 26px;
  color: $text-secondary;
  margin-bottom: 30px;
}

.no-items {
  text-align: center;
  font-size: 18px;
  margin-top: 15px;
  color: #777;

  &.left {
    text-align: left;
  }
}

.button.is-block {
  width: 100%;
  display: block;
}

.ImageBg {
  background-image: url("/bg.jpg");
  background-size: cover;
  min-height: 100vh;
}
.overview-card {
  &:first-of-type {
    margin-top: 0;
  }
}

.home-page {
  .navbar-brand {
    font-size: 1.3rem;
    font-weight: 600;
    img {
      width: 40px;
    }
  }
}

.is-shady {
  animation: flyintoright 0.4s backwards;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.is-shady:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0.19);
}
